<% content_for :top do %>
	<h2>Quality Control</h2>
<% end %>

<%= render :partial => "admin/quality-control/ransack" %>
<table class="table table-striped ">
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= link_to entry.title, edit_entry_path(entry) %></td>
				<td><%= entry.author %></td>
				<td><%= entry.document_date.try(:strftime, '%B %d, %Y') %></td>
        <td><%= link_to "Download", entry.doc_url if !entry.doc_url.blank? %><%= link_to "External Website", entry.external_website, target: "_blank" if !entry.external_website.blank? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

