<!-- This page will be deleted after having this turned into a dropdown -->

<div id="content-left">
  <div id="content-left-in">
        <h2>Administrative Links</h2>
        <p id="notice"><%= notice %></p>
        <p><%= link_to 'USER LIST', admin_userlist_path %></p>
        <p><%= link_to "NEW ENTRY", new_entry_path %></p>
        <p><%= link_to "ENTRIES LIST", entries_path %></p>
        <p><%= link_to "NEW WIKI PAGE", new_page_path %></p>
        <p><%= link_to "WIKI PAGES", pages_path %></p>
        <p><%= link_to "NEW EVENT", new_event_path %></p>
        <p><%= link_to "CALENDAR VIEW", events_path %></p>
		<p><%= link_to "SUBCATEGORIES", subcategories_path %></p>
		<p><%= link_to "CATEGORIES", categories_path %></p>
  </div>
</div>
