<div class="col-md-10 col-md-offset-1">
	<h1 class="">Portfolio </h1>
	<hr>
	<div class="row">
		<div class="col-md-9">
			<p class="lead"> Listed below are samples of my work. In every case I've designed and built the projects entirely myself. To learn more about what I've done or if you have questions abotu a specific project please email me at <%= mail_to "mundocalderon@gmail.com" %> </p>
			
			
			<section>
				<div class="row">		
					<div class="col-md-5">
						<%= link_to (image_tag "oaklandecho_scaled.png", :class => "media-object ") , "http://www.oaklandecho.com" %>
 					</div>
					<div class="col-md-7">
						<strong><h4>Oakland Echo Festival <small>2015</small></h4></strong>
						<p>Oakland Echo is an annual Bay Area Music and Arts festival that takes place in Oakland, CA.
						<br>
						<span class="text-muted">HTML5, CSS, Bootstrap</span>
						</p>
					</div>
				</div>
			</section>
		
			<section>
				<div class="row">		
					<div class="col-md-5">
						<%= link_to (image_tag "joel2_scaled.png", :class => "media-object ") , "http://enigmatic-retreat-3391.herokuapp.com/" %>
 					</div>
					<div class="col-md-7">
						<strong><h4>Joel Gion & The Primary Colours <small>2015</small></h4></strong>
						
						<p>Joel Gion is an American rock percussionist, best known as the tambourinist for the psychedelic rock band The Brian Jonestown Massacre. The Primary Colours was the band he formed after writing his first album. 
						<br>
						<span class="text-muted">Ruby on Rails 4, Amazon S3, Heroku, PostgreSQL, Bootstrap, LESS, JQuery</span></p>
					</div>
				</div>
			</section>
			
			<section>
				<div class="row">		
					<div class="col-md-5">
						<%= link_to (image_tag "artie_scaled.png", :class => "media-object ") , "http://artiegigantinofootball.com" %>
 					</div>
					<div class="col-md-7">
						<strong><h4>Artie Gigantino Football Guidance <small>2014-2015</small></h4></strong>
						
						<p>Artie Gigantino offers experienced consultation and recommendations in all areas of football. Artie provides professional evaluations, specific position technique training and football related guidance.  
						<br>
						<span class="text-muted">Ruby on Rails 4, Heroku, Bootstrap, LESS</span> </p>
					</div>
				</div>
			</section>
			
			<section>
				<div class="row">		
					<div class="col-md-5">
						<%= link_to (image_tag "capsf_scaled.png", :class => "media-object ") , "#" %>
 					</div>
					<div class="col-md-7">
						<strong><h4>California Appellate Project <small>2011-2014</small></h4></strong>
						
						<p>CAP-SF assists private counsel appointed by the California Supreme Court to represent indigent defendants in capital cases challenging their convictions and sentences on direct appeal and through habeas corpus proceedings, and provides them with professional training and litigation resource materials. 
						<br>
						<span class="text-muted">Ruby on Rails, CentOS, ElasticSearch, Delayed_job, Bootstrap, JQuery, AJAX, LESS</span> </p>
					</div>
				</div>
			</section>
		</div>
	
		<div class="col-md-3">
			<div class="well well-sm "><strong>Attention Recruiters</strong>
				<p>I'm always open to fun, new and challenging opportunities.</p>
				<a href="https://github.com/mundocalderon"><i class="fa fa-github-square fa-2x"></i></a>
				<a href="https://www.linkedin.com/in/mundomundo"><i class="fa my-fa-linkedin-square fa-2x"></i></a>
				<a href="http://stackoverflow.com/users/923949/mundo-calderon"><i class="fa fa-stack-overflow fa-2x"></i></a>
				<a href="https://www.facebook.com/mundocalderon"><i class="fa my-fa-facebook-square fa-2x"></i></a>
				<a href="https://instagram.com/mundocalderon/"><i class="fa my-fa-instagram fa-2x"></i></a>
				<a href="https://twitter.com/mundocalderon"><i class="fa my-fa-twitter-square fa-2x"></i></a>
			</div>
		</div>
	</div>
</div>