<div id="content-left">
  <div id="content-left-in">
    <p id="notice"><% notice %></p>
  
    <div class="article box">
      <div class="article-desc">
        <h3><%= link_to "#{@entry.title.titleize}", @entry.doc_url.to_s %></h3>
        
        <!-- <p class="info">Published: <%= @entry.published ? "Yes" : "No" %><br> -->
        <p class="info">Published on:<strong> <%= @entry.document_date.blank? ?  " Date Not Known" : @entry.document_date.strftime('%B %d, %Y') %></strong><br>
        Entry Type:<strong> <%= @entry.entry_type.name %></strong></p>

        <p class="nomb"><%= @entry.description.capitalize %></p>

        <p class="info ">Categories: <% for category in @entry.categories %><%= category.name %> | <% end %></p>

        <p class="info">Sub-Categories: <% for subcategory in @entry.subcategories %><%= subcategory.name %> | <% end %><p>

      </div>
    </div>


        <%= link_to 'Edit', edit_entry_path(@entry) %> |
        <%= link_to 'Back', entries_path %>
  </div>
</div>

