<%- model_class = Pleading -%>

<% content_for :top do %>
	  <h2>Sample Pleadings</h2>
<% end %>
<h3>Sample Pleading Search:</h3>
<%= simple_form_for :query,  url: pleadings_search_path , :method => :get, :html => { :class => 'form-search'} do |f| %>
  <%= f.input :query, :input_html => { class: "span6 search-query", 
																				placeholder: "Search for a sample pleading by Title, Case Name, Category, etc.", :autocomplete => "off" }, label: false, :autofocus => true %>
  <%= f.submit "Search Sample Pleadings", :class => 'btn' %>
<% end %>



<%= search_form_for @q, :builder => SimpleForm::FormBuilder, url: pleadings_ransack_path, :html => {:class => 'form-search'} do |f| %>
	<%= f.label "Title" %>
	<%= f.text_field :title_cont %>
	<br>
	<%= f.label "Agency" %>
	<%= f.text_field :agency_cont %>
	<br>
	<%= f.label "Case Name" %>
	<%= f.text_field :case_name_cont %>
	<br>
	<%= f.label "Associated DPI Section" %>
	<%= f.collection_select :dpi_chapter_id_eq , DpiChapter.order(:title), :id, :title, {:include_blank => true, label: "DPI Chapter" },{class: 'input-large'} %>
	<br>
	<%= f.label "Category" %>
	<%= f.collection_select :plead_category_id_eq , PleadCategory.order(:title), :id, :title ,{:include_blank => true },{class: 'input-large'}  %>
	<br>
	<%= f.label "Keyword" %>
	<%= f.collection_select :plead_keyword_id_eq , PleadKeyword.order(:title), :id, :title ,{:include_blank => true },{class: 'input-large'}  %>
	<br>
	

  <div class"button"><%= f.submit "Search" , :class => "button"%> </div>
<% end %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= sort_link @search, :title, model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= sort_link @search, :date_filed, model_class.human_attribute_name(:date_filed) %></th>
      <th><%= model_class.human_attribute_name(:agency) %></th>
      <th><%= model_class.human_attribute_name(:case_name) %></th>


		</tr>
  </thead>
  <tbody>
    <% @pleadings.each do |pleading| %>
      <tr>
        <td><%= link_to pleading.title, pleading_path(pleading) %></td>
        <td><%= pleading.description %></td>
        <td><%= pleading.date_filed.to_date.try(:strftime, '%B %d, %Y')  %></td>
        <td><%= pleading.agency %></td>
        <td><%= pleading.case_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @pleadings %>
