<%- model_class = Pleading -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @pleading.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @pleading.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_filed) %>:</strong></dt>
  <dd><%= @pleading.date_filed %></dd>
  <dt><strong><%= model_class.human_attribute_name(:agency) %>:</strong></dt>
  <dd><%= @pleading.agency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:case_name) %>:</strong></dt>
  <dd><%= @pleading.case_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:request_by) %>:</strong></dt>
  <dd><%= @pleading.request_by %></dd>
  <dt><strong><%= model_class.human_attribute_name(:permission) %>:</strong></dt>
  <dd><%= @pleading.permission %></dd>
  <dt><strong><%= model_class.human_attribute_name(:isAvailable) %>:</strong></dt>
  <dd><%= @pleading.isAvailable %></dd>
  <dt><strong><%= model_class.human_attribute_name(:isReviewed) %>:</strong></dt>
  <dd><%= @pleading.isReviewed %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), :back, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_pleading_path(@pleading), :class => 'btn btn-info'  if current_user.admin?  %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pleading_path(@pleading),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if current_user.super_admin? %>
</div>
