<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Artie Gigantino Football Guidance" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <header class="header-image">
	    <div class="pixel-overlay"></div>
        <div class="headline">
            <div class="container">
                <h1>Guidance For Your</h1>
				<h1>Football Future</h1>
				<p class="lead">- Evaluations - Position Training - Safe Tackling Techniques - Scholarship/Recruiting Advice -</p>
				<a class="btn btn-primary btn-lg" href="mailto:artiesports@yahoo.com">Start Today »</a>
            </div>
        </div>
		
    </header>




	<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container marketing">
	  <!-- START THE FEATURETTES -->

	  <hr class="featurette-divider">

	  <div class="featurette">
		  <img class="featurette-image img-circle img-responsive pull-right" src="/images/artie512_2.jpg" alt="Coach Artie Gigantino - Football Guidance">	  
		  <h2 class="featurette-heading">Artie Gigantino<br> 
			  <span class="glyphicon glyphicon-phone-alt"></span>
			  <span class="text-muted">(925)209-9465</span>
			  <a href="mailto:artiesports@yahoo.com">artiesports@yahoo.com</a>
		  </h2>
		  <p class="lead">Artie provides each <b>Athlete</b> and <b>Family</b> with honest, candid, realistic and professional evaluations, specific position technique training and football related guidance. He offers experienced consultation and recommendations in all areas of football. In addition, Artie has relationships with many colleges across the country and virtually every <b>West Coast</b> football playing institution. On and off the playing field, Coach Gigantino relies on his highly successful NFL and PAC-12 coaching, recruiting, scouting, and administrative career to provide proven and unparallel 		  	  leadership in <b>guiding</b> the entire family.</p>
	  </div>
	  <!-- RAIDERS -->
	  <hr class="featurette-divider">

	  <div class="featurette">
			  <img class="featurette-image img-square pull-left img-responsive" src="/images/raiders.png" alt="Raiders - Coach Artie Gigantino - Football Guidance">
			  <h2 class="featurette-heading">Raiders-NFL</h2>
			  <p class="lead">Artie started his Raiders career as a consultant to the late, legendary, Hall of Fame owner of the Raiders, Al Davis. After serving 4 years, doubling as a trusted advisor and team broadcaster, Artie was hired on a full time basis as the team's Senior Administrator. His duties were quite diverse and included all areas of the total football operation. The Raiders competed in 1 Super Bowl and 8 Play-Off games during his tenure. He left the Silver and Black in 2010 after 11 years.</p>
	  </div>
	  <!-- RAIDERS -->


	  <!-- RAMS -->	  
	  <hr class="featurette-divider">

	  <div class="featurette">
			  <img class="featurette-image img-square pull-right img-responsive" src="/images/rams.png" alt="Rams - Coach Artie Gigantino - Football Guidance">
			  <h2 class="featurette-heading">Rams-NFL</h2>
	    	  <p class="lead">Artie served as the Special Teams Coordinator and Linebacker Coach while at the Rams. Under his tutelage the Rams led the NFL twice in overall Special Teams play. In 1987, his unit blocked an NFL record 9 punts. He was voted the NFL Special Teams Coach of the year 2 times. Coach Gigantino was the NFL's youngest Special Teams Coach at the time and one of the youngest overall full time coaches in the league. While at the Rams he coached in 2 Pro Bowls, 6 Playoff Games and personally coached 7 All Pro players on Special Teams and Defense.</p>
	  </div>
	  <!-- RAMS -->	  
	
	
	  <!-- CAL -->  
	  <hr class="featurette-divider">

	  <div class="featurette">
	    <img class="featurette-image img-square pull-left img-responsive" src="/images/cal.jpg" alt="Cal - Coach Artie Gigantino - Football Guidance">
	    <h2 class="featurette-heading">Cal Golden Bears</h2>
	    <p class="lead">Artie served as the Defensive Coordinator and Linebacker Coach for the Golden Bears. While at Cal he was known as one of the Nation's Top Defensive Coordinators as well as one of the Nations Top Recruiters. He personally recruited Cal greats Regan Upshaw, Tarik Glenn, Dwayne Clemons, Jeremy Newberry, and Tony Gonzalez, among others all who went on to NFL fame. In addition, his defenses were ranked in the top 15 each year. His prized student at Cal was 3 time All-American Linebacker Jerrott Willard. </p>
	  </div>
	  <!-- CAL -->  
	  
	  
	  <!-- USC -->
	  <hr class="featurette-divider">

	  <div class="featurette">
	    <img class="featurette-image img-square pull-right img-responsive" src="/images/usc.jpg" alt="USC - Coach Artie Gigantino - Football Guidance">
	    <h2 class="featurette-heading">USC Trojans</h2>
	    <p class="lead">Coach Gigantino served as the Defensive Coordinator and Linebacker Coach at USC. The Trojans were annually in the top 5 in virtually every major defensive category. During his tenure they played in 7 Bowl games, including 4 Rose Bowls and won 2 National Championships. Those rosters included a Who's Who of football including Ronnie Lott, Jack Del Rio, Jeff Fischer, Marcus Allen, Joey Browner, Tim MacDonald, Mark Carrier and Marcus Cotton, just to name a few. As a Trojan, Sports Illustrated named Artie the <b>Best Recruiter in the Nation.</b> During his USC career, Artie produced more All American linebackers and first and second round draft choices than any coach in all of college football.</p>
	  </div>
	  <!-- USC -->
	  
	  <hr class="featurette-divider">

	  <!-- ROW OF FEATURETTES -->
	  <div class="row">
	    <div class="col-md-5">
	      <img class="img-square img-responsive image-center" src="/images/ag_logo_1.png" alt="Coach Artie Gigantino - Football Guidance">
	    </div>
		
	    <div class="col-md-3 padded-center">
	      <h2>Services Offered:</h2>
	  		<ul>
	  			<li>Game and Practice Evaluations</li>
	  			<li>Specific Position Training</li>
	  			<li>Safe Tackling and Blocking Techniques</li>
	  			<li>Scholarship/Recruiting Consultation</li>
	  			<li>Monthly Plan - In Season and Off Season</li>
	  			<li>Advice on Summer Camps, All-Star Games, Training Budget</li>
	  		</ul>

	      <p>All ages, grades and levels of abilities. Compensation is dependant on services desired.<br> Clientele is limited to workable number. Location in California, Availability is National.</p>
	    </div>
		
	    <div class="col-md-4 padded-center">
	      <h2>Artie Gigantino Qualifications:</h2>
  		<ul>
  			<li>Former NFL and Pac 12 Coach</li>
  			<li>Defensive Expert and Innovator in Linebacker Play</li>
  			<li>Special Teams Expert</li>
  			<li>Creative Offensive Coach</li>
  			<li>Recruiting Specialist with Knowledge of the Entire Process</li>
  			<li>Coached 10 1st and 2nd Round Draft Choices</li>
			<li>Coached 14 All-Americans</li>
			<li>Spoken at over 400 Football Clinics across the USA</li>
			<li>Recently has been employed by the USA Football, FBU and Offense Defense Football</li>
  		</ul>
	    </div>
	   
	  </div><!-- /.ROW OF FEATURETTES -->


	  <!-- /END THE FEATURETTES -->


	  <!-- FOOTER -->
	  <footer>
		 <hr>
		<p class="pull-left">Copyright &#169; 2014 <a href="mailto:artiesports@yahoo.com">Artie Gigantino Football</a></p>
	    <p class="pull-right"><a href="#">Back to top</a></p>
	  </footer>

	</div><!-- /.container -->

  </body>
</html>
