<dl class="news box">
  <dt><%= a.created_at.strftime("%b")%><br><%= a.created_at.strftime("%d")%></dt>
  <dd>  
  <span><%= link_to "#{a.text}", "events/#{a.trackable_id}" %></span><br>
  A user has updated <%= p[:description] %> titled "<%= link_to p[:title], "events/#{a.trackable_id}" %>". 
  It is scheduled for <%= p[:date].strftime("%B %d, %Y") %>.
    <hr>
  </dd>
</dl>
