<%- model_class = Subcategory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Parent <%= model_class.human_attribute_name(:category) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @subcategories.each do |subcategory| %>
			<% unless subcategory.name.blank? %>
      <tr>
        <td><%= link_to subcategory.name.truncate(60), subcategory_path(subcategory) %></td>
        <td><%= subcategory.category.name if !subcategory.category.blank? %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_subcategory_path(subcategory), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      subcategory_path(subcategory),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
			<% end %>
    <% end %>
  </tbody>
</table>
<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_subcategory_path,
            :class => 'btn btn-primary' %>
</div>