
<div class='col-md-8'>
	<%= simple_form_for @announcement,
	wrapper_mappings: {
	  check_boxes: :vertical_radio_and_checkboxes,
	  radio_buttons: :vertical_radio_and_checkboxes,
	  file: :vertical_file_input,
	  boolean: :vertical_boolean
	} do |f| %>

	      <%= f.input :title %>

	      <%= f.input :content, as: :bootsy, :class => 'form-control textarea', input_html:{ rows:'20' } %>
 
		<div class="row">
			 <div class="col-sm-4">
				  <%= f.input :post_date , :as => :string, input_html:{ class:'ui-datepicker' } %>
		  	 </div>
			 <div class="col-xs-8">
		   
			 </div>
	  	</div>

	      <%= f.input :attachment %>
		  
		  <%= f.association :announcement_types, as: :check_boxes%>


  
	  <%= f.button :submit, :class => 'btn btn-primary' %>
	  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	            announcements_path, :class => 'btn btn-default' %>
 
	<% end %>
</div>