<%= simple_form_for @transaction, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :date_of_issue %>
  <%= f.input :date_of_return %>
  <%= f.input :book_id %>
  <%= f.input :user_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                transactions_path, :class => 'btn' %>
  </div>
<% end %>
