<%- model_class = Transaction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
	  <th><%= sort_link @search, :book_id, model_class.human_attribute_name(:book_id) %></th>
      <th><%= sort_link @search, :date_of_issue, model_class.human_attribute_name(:date_of_issue) %></th>
	  <th><%= sort_link @search, :date_of_return, model_class.human_attribute_name(:date_of_return) %></th>
	  <th><%= sort_link @search, :user_id, model_class.human_attribute_name(:user_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
	    <td><%= transaction.book.title %></td>
    
        <td><%= transaction.date_of_issue %></td>
        <td><%= transaction.date_of_return %></td>
        <td><%= transaction.user.email %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_transaction_path(transaction), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      transaction_path(transaction),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_transaction_path,
            :class => 'btn btn-primary' %>
